/* static/css/dashboard.css */

.dashboard-container {
  padding: 1rem;
  background-color: #fff;
  color: #14532d;

}

header {
  margin-bottom: 2rem;
  background-color: #e0f2f1;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px #14532d;
  color: #05883c;
}

header h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.summary-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  background: #166534;
  padding: 1.2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  color: #fff;
}

.card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.card p {
  font-size: 1.8rem;
  font-weight: bold;
}

.progress-section h2,
.trends-section h2 {
  margin-bottom: 1rem;
  color: #1e8e3e;
}

.progress-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 15px;
  overflow: hidden;
  height: 30px;
  position: relative;
  margin-bottom: 1.5rem;
}

.progress-bar.mini {
  height: 18px;
}

.progress-fill {
  height: 100%;
  background: #4caf50;
  display: flex;
  align-items: center;
  padding-right: 10px;
  color: rgb(8, 8, 8);
  font-weight: bold;
  position: relative;
}

.trends-list {
  list-style: none;
  padding: 0;
}

.trend-item {
  margin-bottom: 1rem;
}

.trend-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  margin-bottom: 0.3rem;
}

.no-data {
  font-style: italic;
  color: #999;
  padding: 1rem;
}

.indicator-name{
  color: #05883c;

}

.indicator-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    margin-bottom: 1rem;
    transition: transform 0.2s ease-in-out;
}

.indicator-card-link:hover {
    transform: scale(1.02);
}

.indicator-card {
    background: #fdfdfd;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    transition: box-shadow 0.3s ease;
}

.indicator-card h3 {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
    color: #064635;
}

.indicator-card p {
    margin: 0.2rem 0 0.5rem;
    color: #333;
}

.progress-bar.mini {
    background: #eee;
    border-radius: 4px;
    height: 10px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background-color: #007f5f;
    transition: width 0.4s ease;
}

